html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 15px;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  width: 100%;
  background-color: #4747ff;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem 1rem 0 0;
}
